.Website {
}

.Website-header {
    text-align: center;
    font-weight: bold;
}

.Site-header-solution-name {
    font-size: calc(10px + 1vmin);
    margin-top: 10vh;
}

.Site-header-tagline {
    font-size: calc(10px + 5vmin);
    margin-top: 5vh;
}

.Why-we-are-here {
    font-size: calc(10px + 1vmin);
    margin-top: 5vh;
}

.Why-we-are-here span {
    color: #f44336;
}

.Existing-approach-problems {
    text-align: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
}

.Existing-approach-problems span {
    color: #4db560;
}
