div.Website {
}

header.Website-header {
    text-align: center;
    font-weight: bold;
}

div.Site-header-nav-bar {
    font-weight: normal;
    text-align: right;
    margin-right: 5vw;
    margin-top: 2vh;
}

span.Site-header-nav-bar-choice {
    margin-left: 2vw;
}

span.Site-header-nav-bar-choice:hover {
    text-decoration: underline;
    color: #f44336;
    cursor: pointer;
}

div.Site-header-solution-name {
    font-size: calc(10px + 1vmin);
    margin-top: 10vh;
}

div.Site-header-tagline {
    font-size: calc(10px + 5vmin);
    margin-top: 5vh;
}

div.Why-we-are-here {
    font-size: calc(10px + 1vmin);
    margin-top: 5vh;
}

div.Why-we-are-here span {
    color: #f44336;
}

div.Existing-approach-pick-your-poison {
    text-align: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
}

div.Existing-approach-pick-your-poison span {
    color: #4db560;
}

span.Existing-approach-poison-lists {
    margin-left: 20vw;
}

span.Existing-approach-poison-list-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 3vh;
    margin-right: 1vw
}

ul.Existing-approach-poison {
    border: 2px solid lightgrey;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 25px;
}

ul.Existing-approach-poison:hover {
    border-color: #4db560;
    cursor: pointer;
}

ul.Existing-approach-poison span {
    font-weight: bold;
}

ul.Existing-approach-poison li {
    margin-top: 10px;
}

div.Our-solution {
    margin-top: 10vh;
    background-color: black;
    color: white;
    padding-bottom: 50vh;
    text-align: center;
}

div.Our-solution-header {
    font-weight: bold;
    font-size: calc(10px + 4vmin);
    padding-top: 5vh;
}